/*styling the background*/
body
{
    background: #b5f3ec; 
    font-family:'Courier New', Courier, monospace;
}

/*styling the header*/
header
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);     
}

/*styling the footer*/
footer
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    right:0;
    bottom: 0;
    margin-top: 20%;
    height: auto;
}

/*remove bullets from unordered lists*/
ul
{
    list-style-type: none;         
}

/*styling the main navigation bar*/
.main_nav li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}
.main_nav li
{
    font-size: 20px;

}
.main_nav a:hover
{
    background: #19465e;
}
#pressed_nav_link a
{
    background: linear-gradient(15deg, #1a4b68 0%, #188679 100%);
}

/*styling anchor navigation*/      
#anchor_navigation
{
    position: sticky;   
    top: 0;
}

#anchor_navigation li
{
    font-size: 20px;
}

#anchor_navigation li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}

#anchor_navigation a:hover
{
    background: #19465e;
}

/*remove underline from links */
a
{
   text-decoration: none;           
   color: black;
}

/*social media media buttons in one line*/
.social_media_buttons>li
{
    display: inline;
}

/*resizing images*/
.product_photos>img         
{
    max-width: 10%;
    max-height: 10%;
}

.team>img
{
    float: left;
    clear: both;
    margin-top:10px;
}
.team
{
    text-align:left;
}

.dropdown>img
{
    width:10%;
    height:10%;
    
}

/* Styling the dropdown content */
.dropbtn 
{
    background-color: #256b94;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown
{
    width: max-content;
}

.dropdown button
{
    border-radius: 10px;
}
  
/* Dropdown Content */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Set a darker color for the buttons when hovered*/
.dropdown:hover button
{
    background-color: #19465e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown-content a:hover
{
    background-color: #657279;
    border-radius: 10px;
}

.latest_adv, .gpu_adv, .phone_adv
{
    background-color: white;
    width: 20%;
    border: 7px solid #256b94;
    border-width: 0.5em;
}

/*Styling the the area of the avatars*/
.photo_avatars_holder
{
    border-radius: 999em;
    width: 20em;
    height: 20em;
    padding: 5px;
    line-height: 0;
    border: 7px solid #000;
    background-color: #eee;
}

/*Styling avatars in about us*/
.photo_avatars_holder>img
{
    border-radius: 999em;
    height: 100%;
    width: 100%;
}

.main_container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}