/*styling the background*/
body
{
    background: #e7eaf6; 
    font-family:'Courier New', Courier, monospace;
    
}

/*styling the header*/
header
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);     
}

/*styling the footer*/
footer
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    height: 100%;
    font-weight: bold;
}


/*remove bullets from unordered lists*/
ul
{
    list-style-type: none;         
}

/*styling the main navigation bar*/
.main_nav li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}
.main_nav li
{
    font-size: 20px;

}
.main_nav a:hover
{
    background: #19465e;
}
#pressed_nav_link a
{
    background: linear-gradient(15deg, #1a4b68 0%, #188679 100%);
}

/*styling anchor navigation*/      
#anchor_navigation
{
    position: sticky;   
    top: 0;
}

#anchor_navigation li
{
    font-size: 20px;
}

#anchor_navigation li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}

#anchor_navigation a:hover
{
    background: #19465e;
}

/*remove underline from links */
a
{
   text-decoration: none;           
   color: black;
}

/*social media media buttons costumizations*/
#social_media_buttons
{
    position: absolute;
    right: 0;
}

/*styling the photos in about_us.html*/
.member1 , .member2 >img
{
    margin-top:10px;
}

/*styling the text in about_us.html*/
#team
{
    text-align:left;
} 

/*styling the width of categories*/


/* Styling the dropdown content */
.dropbtn 
{
    width: auto;
    height: auto;
    background-color: #256b94;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    border: none;
}
  
.dropdown>button
{
    width: 15em;
}

.dropdown button
{
    border-radius: 10px;
}
  
/* styling the dropdown Content */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* styling the links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Setting a darker color for the buttons when hovered*/
.dropdown:hover button
{
    background-color: #19465e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown-content a:hover
{
    background-color: #657279;
    border-radius: 10px;
}

/*styling the ads*/
.latest_adv,.gpu_adv, .phone_adv
{
    width: min-content;
    background-color: white;
    border: 10px solid #256b94;
    border-width: 0.5em;
    border-radius: 2em;
}
.latest_adv>p, .gpu_adv>p, .phone_adv>p
{
    text-align: center;
}

/*Styling the area of the avatars*/
.photo_avatars_holder
{
    border-radius: 999em;
    width: 20em;
    height: 20em;
    padding: 5px;
    line-height: 0;
    border: 7px solid #000;
    background-color: #eee;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling avatars in about us*/
.photo_avatars_holder>img
{
    align-self: center;
    border-radius: 999em;
    height: 100%;
    width: 100%;
}

.name
{
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

/*Styling about us page*/
fieldset>label,fieldset>legend
{
    font-weight: bold;
    text-align: start;
}

/*styling the technical support form*/
#reset_form,#submit_form
{
    border: none;
    background-color:#256b94;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
#name , #surname, #email, #txt_phone_number, #txt_ad_code
{
    margin: 1em;
    
}
#problem_desc
{
    margin: 1em;
    height: 4em;

} 

#reset_form, #submit_form
{
    margin: 1em;
    width: fit-content;
    border-radius:10px;
}

/*styling the buttons*/
button:hover
{
    cursor: pointer;
}

/* Styling the sidebar */
.sidebar
{
    height: 60%; 
    width: 430px; 
    position: fixed; 
    z-index: 1; 
    top: 13%; 
    right: 0;
    background-color: #e7eaf6; 
    overflow-x: hidden; 
    padding-top: 20px;
    
}
.product
{
    margin: 1em;

} 
.product_ad
{
    margin-top: 5em;
}
/* resizing the product photos*/
.product_photos > img
{
    width: 10em;
    height: 10em;
}

/*-------------------------Exercise 3-------------------------*/
/*styling the website using flexbox and grid*/

/*using flex in navigation bars*/
.main_nav > ul
{
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    align-items: center;
}

#anchor_navigation > ul
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    align-items: center;

}
/* Styling the sidebar */
.sidebar a 
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: inline-block;
}
.news_sidebar
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}
/* Styling the text in the sidebar when on hover */
.sidebar a:hover 
{
    color: #19465e;
}

/* Styling the body using grid */
body 
{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 50px 2fr 100px; */
    row-gap: 1em;
    column-gap: 1em;
    justify-content: center;
    align-content: center;
}

/* setting the header in place  */
header
{
    grid-column: 1/5;
    grid-row: 1/2;
}

/* setting the footer in place  */
footer
{
    grid-column: 1/5;
    grid-row: 6/7;
}

/* setting the main navigation in place  */
.main_nav
{
    grid-column: 1/3;
    grid-row: 2/3;
}

/* setting the latest ad in place  */
.latest_adv
{
    grid-column: 1/2;
    grid-row-start: 3;
    
}

/* setting the welcome text in place  */
.main_menu_welcome
{
    grid-column: 2/3;
    grid-row-start: 3;
    text-align: center;
}

/* using flex in categories  */
.categories 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*setting the categories in place*/
.categories_container
{
    grid-column: 2/3;   
    grid-row-start: 3; 
}

/*setting description of the site in place*/
.description
{
    grid-column: 2/4;
    grid-row: 3/4;
}

/*setting the team resumes in place*/
#team
{
    grid-column: 2/3;
    grid-row: 4/5;
    
    
}   
.member1
{
    grid-column: 1/3;
    grid-row: 5/6;
}
.member2
{
    grid-column: 3/5;
    grid-row: 5/6;
}

/*using flex and setting the technical support form in place*/
.support
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items:stretch;
}
.support
{
    grid-column: 2/4;
    grid-row: 2/4;
    
}

/*using grid and setting the ads in place*/
.adverts
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, auto));
    column-gap: 0;
    grid-column: 1/5;
    grid-row: 3/4;
    justify-content: center;
}

/*setting the product elements in place*/
.product
{
    grid-column: 1/5;
    grid-row: 2/4;
}

.product_ad
{
    grid-column: 1/5;
    grid-row: 2/4;
}

/*putting contact means in place */
footer ul
{
    display: flex;
    margin: 0.5em;
    align-items: center;
    justify-content: center;
}
#emails, #phone{
    display: flex;
    flex-direction: column;
}
.support
{
    border: 5px solid #256b94;
    border-radius: 15px;
}

/*-------------------------Exercise 4-------------------------*/

.main_head
{
    grid-area: header;
}

.main_nav
{
    grid-area: nav;
}

.main_menu_welcome
{
    grid-area: main_welcome;
}

.latest_adv
{
    grid-area: main_adv;
}

.ps5
{
    grid-area: ps5;
}

.ryzen5
{
    grid-area: ryzen5;
}

.sidebar
{
    grid-area: sidebar_news;
}

.main_footer
{
    grid-area: footer;
}
/* about_us.html grid areas*/
.description
{
    grid-area: description;
}

#team
{
    grid-area: team_h3;
}

.member1
{
    grid-area: member1;
}

.member2
{
    grid-area: member2;
}

/* android and gpu categories grid areas*/
.adverts
{
    grid-area: ads;
}
/* categories grid areas*/
.categories_container
{
    grid-area: cat_container;
}

/*support grid areas*/
.support
{
    grid-area: sup;
}

/*signup.html frid areas*/

.personal_info
{
    grid-area: personal_info;
}

.login_info
{
    grid-area: login_info;
}

.questionnair
{
    grid-area: questionnair;
}


@media(min-width: 960px) and (max-width: 1200px) /*Landscape tablets*/
{
    .index_body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header       header"
        "nav          nav"
        "main_welcome main_adv"
        "ps5          ryzen5"
        "sidebar_news sidebar_news"
        "footer       footer";
        align-content: center;
        justify-items: center; 
        font-size: smaller;
        text-align: center;
        row-gap: 3em;
        width: 100vw;
    }

    .main_head
    {
        width: 100vw;
    }
    .main_nav > ul
    {
        flex-wrap: wrap;
    }

    .main_nav li>a{
        padding-left: 0.10em;
        padding-right: 0.10em;
        padding-top: 0.05em;
        padding-bottom: 0.05em;
        margin: 0.1em;
        row-gap: 1em;
    }
    .latest_adv img
    {
        width: 40%;
        height: 40%;
    }
    .sidebar img
    {
        height:30%;
        width: 30%;
    }
    .sidebar
    {
        position: static;
        background-color: #e7eaf6; 
        font-size: smaller;
        height: 150px;
        overflow-y: hidden;
        width: 80vw;
    }
    .sidebar ul
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
        overflow-x: auto;
    }
    .main_footer
    {
        height: 30vh;
        width: 100vw;
    }
    /*styling the ads*/
    .latest_adv
    {
        width: 40vw;
        height: fit-content;
        background-color: white;
        border: 10px solid #256b94;
        border-width: 0.25em;
    }
    .latest_adv>p
    {
        text-align: center;
    }
    .main_menu_welcome
    {
        width: 60%;
    }
    .main_menu_welcome p
    {
        word-wrap: break-word;
    };

    /* fluid grid in about_us.html*/
    .about_us_body
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header       header"
        "nav          nav"
        "description  description"
        "team_h3      team_h3"
        "member1      member2"
        "footer       footer";
        align-content: center;
        justify-items: center; 
        font-size: smaller;
        text-align: center;
        row-gap: 2em;
        width: 100vw;
    }
    .description
    {
        width: 60%;
    }

    .description h2, p
    {
        word-wrap: break-word;
    }

    .member1, .member2
    {
        width: 60%;
    }
    .member1 p 
    {
        word-wrap: break-word;
    }
    .member2 p
    {
        word-wrap: break-word;
    }

    /*fluid grid in categories.html*/
    .categories_body
    {
        grid-template-areas:
        "header        header"
        "nav           nav"
        "cat_container cat_container"
        "footer        footer";
        align-content: center;
        justify-items: center; 
        font-size: smaller;
        text-align: center;
        row-gap: 5em;
        width: 100vw;
    }

    /* fluid grid in android_categories.html and gpu_categories.html*/
    .android_body
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header       header"
        "nav          nav"
        "ads          ads"
        "footer       footer";
        font-size: smaller;
        text-align: center;
        row-gap: 2em;
        width: 100vw;
    }

    .gpu_body
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header       header"
        "nav          nav"
        "ads          ads"
        "footer       footer"; 
        font-size: smaller;
        text-align: center;
        row-gap: em;
        width: 100vw;
    }

    .support_body
    {
        grid-template-areas:
        "header header"
        "nav    nav"
        "sup    sup"
        "footer footer";
        align-items: center;
        justify-items: center; 
        font-size: smaller;
        text-align: center;
        row-gap: 5em;
        width: 100vw;
    }
    .support
    {
        width: 90vw;
    }

    /* rx 6600 subgrid*/
    .product_ad
    {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 460px, 80px, 220px, 195px, 200px, 290px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        row-gap: 2em;
    }

    .product_ad
    {
        grid-area: product;
    }
    .front_view
    {
        grid-column: 1/3;
        grid-row: 1/2;
        width: 100vw;
        justify-self: center;
    }
    #anchor_navigation
    {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 80vw;
        justify-self: center;
    }
    #anchor_navigation > ul
    {
        flex-wrap: wrap;
    }
    #anchor_navigation li>a
    {
        padding-left: 0.10em;
        padding-right: 0.10em;
        padding-top: 0.05em;
        padding-bottom: 0.05em;
        margin: 0.1em;
        row-gap: 1em;
    }
    #users_description_section
    {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 50vw;
        justify-self: center;
        word-wrap: break-word;
    }
    .product_photos
    {
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-self: center;
    }
    .product_photos > img
    {
        width: 100px;
        height: 100px;
        justify-self: center;
    }
    #extended_description_section
    {
        grid-column: 1/2;
        grid-row: 4/5;
        width: 50vw;
        justify-self: center;
        word-wrap: break-word;
    }
    #second_extended_description_section
    {
        grid-column: 2/3;
        grid-row: 5/6;
        width: 50vw;
        justify-self: center;
        word-wrap: break-word;
    }
    .arch_photo
    {
        grid-column: 2/3;
        grid-row: 4/5;
        width: 300px;
        height: 150px;
        justify-self: center;
    }
    .yt_video
    {
        grid-column: 1/2;
        grid-row: 5/6;
        width: 400px;
        height: 200px;
        justify-self: center;
    }
    #specifications_section
    {
        grid-column: 1/3;
        grid-row: 6/7;
        width: 50vw;
        justify-self: center;
    }

    .rx_6600_body
    {
        grid-template-areas: 
        "header  header"
        "nav     nav"
        "product product"
        "footer  footer";
        align-content: center;
        justify-content: center; 
        justify-content: center;
        font-size: smaller;
        text-align: center;
        row-gap: 3em;
        width: 100vw;
    }

    /* signup.html grid*/
    .signup_body
    {
        grid-template-areas: 
        "header        header"
        "nav           nav"
        "personal_info login_info"
        "questionnair  questionnair"
        "footer        footer";
        justify-items: center; 
        font-size: smaller;
        text-align: center;
        row-gap: 3em;
        width: 100vw;
    }
    .personal_info
    {
        width: 40vw;
        height: fit-content;
    }
    .login_info
    {
        width: 40vw;
        height: fit-content;
    }
    .questionnair
    {
        width: 80vw;
        height: fit-content;
    }

    .personal_info, .login_info, .questionnair
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:stretch;
        height: fit-content;
    }

    #name , #surname, #email, #txt_phone_number, 
    #txt_home_number, #address, #username, #psw, #psw_check, 
    #contact
    {
        margin: 1em; 
    }

    #suggestions
    {
        margin: 1em;
        height: 4em;
    }
    
    form 
    {
        border: 3px solid #256b94;
        border-radius: 15px;
    }
    #form_name
    {
        text-align: center;
        font-weight:bold;
        font-size: large;
        margin-bottom: 1em;
    }

    
    /* Styling the  inputs */
    input[type=text], input[type=password] 
    {
        width: 95%;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #256b94;
        box-sizing: border-box;
        padding:10px;
        border-radius:10px;
    }

    input[type="text"]:not(:focus):placeholder-shown
    {
        border: 2px solid #256b94;
    }

    input[type="password"]:not(:focus):placeholder-shown
    {
        border: 2px solid #256b94;
    }
    
    input:valid 
    {
        border: 2px solid green;
    } 

    input:invalid
    {
        border: 2px solid red;
    }

    #username_requierments 
    {
        display:none;
        background: #e7eaf6;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
        height: fit-content;
    }
    
    #username_requierments p
    {
        padding: 10px 35px;
        font-size: 18px;
    }


    #psw_requierments 
    {
        display:none;
        background: #e7eaf6;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
        height: min-content;
        border: 3px solid #256b94;
        border-radius: 15px;
        width: min-content;
        text-align: center;
    }
    
    #psw_requierments p
    {
        padding: 10px 35px;
        font-size: 18px;
    }
    #psw_requierments h3
    {
        font-size: large;
        font-weight: bold;
        text-decoration:underline;
    }
    
    /* Add a green text color and a checkmark when the requirements are right */
    .valid
    {
        color: green;
    }
    
    .valid:before 
    {
        position: relative;
        left: -35px;
        content: "✔"; 
    }
    
    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid 
    {
        color: red;
    }
    
    .invalid:before 
    {
        position: relative;
        left: -35px;
        content: "✖"; 
    }


}