/*styling the background*/
body
{
    background: #e7eaf6; 
    font-family:'Courier New', Courier, monospace;
    
}

/*styling the header*/
header
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);     
}

/*styling the footer*/
footer
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    height: 100%;
    font-weight: bold;
}


/*remove bullets from unordered lists*/
ul
{
    list-style-type: none;         
}

/*styling the main navigation bar*/
.main_nav li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}
.main_nav li
{
    font-size: 20px;

}
.main_nav a:hover
{
    background: #19465e;
}
#pressed_nav_link a
{
    background: linear-gradient(15deg, #1a4b68 0%, #188679 100%);
}

/*styling anchor navigation*/      
#anchor_navigation
{
    position: sticky;   
    top: 0;
}

#anchor_navigation li
{
    font-size: 20px;
}

#anchor_navigation li>a
{
    background: linear-gradient(15deg, #256b94 0%, #27e4ce 100%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}

#anchor_navigation a:hover
{
    background: #19465e;
}

/*remove underline from links */
a
{
   text-decoration: none;           
   color: black;
}

/*social media media buttons costumizations*/
#social_media_buttons
{
    position: absolute;
    right: 0;
}

/*styling the photos in about_us.html*/
.member1 , .member2 >img
{
    margin-top:10px;
}

/*styling the text in about_us.html*/
#team
{
    text-align:left;
} 

/*styling the width of categories*/
#categories
{
    width: 10%;
}

/* Styling the dropdown content */
.dropbtn 
{
    width: auto;
    height: auto;
    background-color: #256b94;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    border: none;
}
  
.dropdown>button
{
    width: 15em;
}

.dropdown button
{
    border-radius: 10px;
}
  
/* styling the dropdown Content */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* styling the links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Setting a darker color for the buttons when hovered*/
.dropdown:hover button
{
    background-color: #19465e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown-content a:hover
{
    background-color: #657279;
    border-radius: 10px;
}

/*styling the ads*/
.latest_adv,.gpu_adv, .phone_adv
{
    width: min-content;
    background-color: white;
    border: 10px solid #256b94;
    border-width: 0.5em;
}
.latest_adv>p, .gpu_adv>p, .phone_adv>p
{
    text-align: center;
}

/*Styling the area of the avatars*/
.photo_avatars_holder
{
    border-radius: 999em;
    width: 20em;
    height: 20em;
    padding: 5px;
    line-height: 0;
    border: 7px solid #000;
    background-color: #eee;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling avatars in about us*/
.photo_avatars_holder>img
{
    align-self: center;
    border-radius: 999em;
    height: 100%;
    width: 100%;
}

.name
{
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

/*Styling about us page*/
fieldset>label,fieldset>legend
{
    font-weight: bold;
    text-align: start;
}

/*styling the technical support form*/
#reset_form,#submit_form
{
    border: none;
    background-color:#256b94;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
#name , #surname, #email, #txt_phone_number, #txt_ad_code
{
    margin: 1em;
    
}
#problem_desc
{
    margin: 1em;
    height: 4em;

} 

#reset_form, #submit_form
{
    margin: 1em;
    width: fit-content;

}
.support
{
    margin-top: 7em;
}
 
/*styling the buttons*/
button:hover
{
    cursor: pointer;
}

/* Styling the sidebar */
aside
{
    height: 60%; 
    width: 430px; 
    position: fixed; 
    z-index: 1; 
    top: 13%; 
    right: 0;
    background-color: #e7eaf6; 
    overflow-x: hidden; 
    padding-top: 20px;
    
}
.product
{
    margin: 1em;

} 
.product_ad
{
    margin-top: 5em;
}
/* resizing the product photos*/
.product_photos > img
{
    width: 10em;
    height: 10em;
}