
body
{
    background: #b5f3ec;   /*styling the background*/
}


header
{
    background: linear-gradient(15deg, #256b94 0%, #b5f3ec 100%);      /*styling the header*/
    left: 0;
    right: 0;
    top: 0;
    margin-top: 0;
    margin-bottom: 5%;
}

footer
{
    background: linear-gradient(15deg, #256b94 0%, #b5f3ec 100%);/*styling the footer*/
    left:0;
    right:0;
    bottom: 0;
    margin-top: 15%;
    
}

ul
{
    list-style-type: none;         /*remove bullets from unordered lists*/
    
}

.main_nav 
{
    background: #256b94;/*styling the navigation bar*/
   

}
.main_nav li
{
    /*styling the navigation bar*/
    text-align: center; 
    font-size: 20px;
    margin-left: 7em;
    margin-right: 7em;
}


.anchor_navigation
{
    background: #256b94;  /*styling anchor navigation*/
               
}

.anchor_navigation li
{
    text-align: center;                  /*styling the navigation bar*/
    font-size: 20px;
    margin-left: 4em;
    margin-right: 4em;
}

.pressed_button
{
    font-weight:bold;    /*add effect to current category*/
}

a
{
   text-decoration: none;           /*remove underline from links */
   color: black;
}

.social_media_buttons>li
{
    display: inline;                /*social media media buttons in one line*/
}

