body
{
    background-color: #f4eeff;      /*styling the background*/
}

header
{
    background-color: #dcd6f7;      /*styling the header*/
    left: 0;
    right: 0;
    top: 0;
    margin-top: 0;
    margin-bottom: 5%;
}

ul
{
    list-style-type: none;          /*remove bullets from unordered lists*/
}

header>nav>ul>li
{
    text-align: center;
    display: inline;                  /*styling the navigation bar*/
    font-size: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

footer
{
    background-color: #dcd6f7;      /*styling the footer*/
    left:0;
    right:0;
    bottom: 0;
    margin-top: 15%;
}

.pressed_button
{
    background-color: white;    /*add effect to current category*/
}

a:link
{
   text-decoration: none;           /*remove underline from links */
}

.social_media_buttons>li
{
    display: inline;                /*social media media buttons in one line*/
}